<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI - Concrete </title>
</head>
<body>
    <p>
        Hi! We will estimate the strength of your concrete structure with our AI
    </p>
    <form action="#" method="POST" >
        <br><input type="text" name="var1" required> Cement (kg)
        <br><input type="text" name="var2" required> Water (kg)
        <br><input type="text" name="var3" required> Age (kg)
        <br><input type="text" name="var4" required> Fly Ash (kg)
        <br><input type="text" name="var5" required> Fine Aggregate (kg)
        <br><input type="submit" value="Valid">

    </form>
    <p>
        Compressive Strength : {{prediction}} 
    </p>
</body>
</html>